.box-counter {
      display: flex;
      padding: 28px;
      padding-right: 45px;
      width: fit-content;
      gap: 24px;
      align-items: center;
      background-color: #FBFBFB;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}

.img-counter {
      width: 60px;
      height: 60px;
}

.text-counter {
      display: flex;
      flex-direction: column;
      gap: 5px;
}

.quantity {
      color: #282D30;
      font-size: 20px;
}

.type-counter {
      color: #74798C;
      font-size: 14px;
}