.box-counter {
      display: flex;
      padding: 32px;
      width: fit-content;
      gap: 24px;
      align-items: center;

}

.img-counter {
      width: 60px;
      height: 60px;
}

.text-counter {
      display: flex;
      flex-direction: column;
      gap: 5px;
}

.quantity-calories {
      color: #282D30;
      font-size: 20px;
}

.type-counter {
      color: #74798C;
      font-size: 14px;
}