.legend-session-label {
      position: absolute;
      color: white;
      font-size: 15px;
      opacity: 0.5;
      width: 50%;
      left: 20px;
      top: 20px;

}

.custom-session-tooltip {
      background-color: white;
      color: black;


}

.label-session {
      color: black;
      font-size: 8px;
      padding: 7px;
}