#greetings-box {
      display: flex;

}

.greetings {
      margin: 0;
      padding-top: 50px;
      font-style: normal;
      font-weight: 500;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      font-size: 48px;
}

.name {
      color: #FF0101;
}