aside {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 117px;
      left: 0;
      top: 0;
      padding-top: 15%;
      background-color: black;
      z-index: 1;
}

.nav-aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;

}

.copyright {
      color: white;
      font-size: 12px;
      padding-bottom: 30px;
      padding-top: 30px;
      transform: rotate(180deg);
      writing-mode: tb;
      -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
}