body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

code {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100vw;
  height: 1px;
}

main {
  padding-left: 224px;
  padding-right: 107px;
  height: 100vh;
  width: 100vw;
}