body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

code {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
}

main {
  padding-left: 200px;
  padding-right: 311px;
  height: 100vh;
  width: 100vw;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}